<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bas.dao.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.bas.bean.Menu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="menu_no" property="menuNo" jdbcType="VARCHAR" />
    <result column="pId" property="pId" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="open" property="open" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="VARCHAR" />
    <result column="updateTime" property="updatetime" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="target" property="target" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
     id, name, menu_no, pId, url, open, icon, createTime, updateTime, level, target
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertMenu" parameterType="com.bas.bean.Menu" >
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="menuNo != null" >
        menu_no,
      </if>
      <if test="pId != null" >
        pId,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="open != null" >
        open,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="target != null" >
        target,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="menuNo != null" >
        #{menuNo,jdbcType=VARCHAR},
      </if>
      <if test="pId != null" >
        #{pId,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="open != null" >
        #{open,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="target != null" >
        #{target,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bas.bean.Menu" >
    update menu
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="menuNo != null" >
        menu_no = #{menuNo,jdbcType=VARCHAR},
      </if>
      <if test="pId != null" >
        pId = #{pId,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="open != null" >
        open = #{open,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="target != null" >
        target = #{target,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bas.bean.Menu" >
    update menu
    set name = #{name,jdbcType=VARCHAR},
      menu_no = #{menuNo,jdbcType=VARCHAR},
      pId = #{pId,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      open = #{open,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      target = #{target,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
      <!-- 得到所有菜单 -->
    <select id="getAllMenu" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
	    select 
	      <include refid="Base_Column_List" />
	    from menu t order by  t.pId asc 
  </select>
  <select id="getAllMenuByparentId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
	    select 
	      <include refid="Base_Column_List" />
	    from menu where pId = #{id,jdbcType=INTEGER}
  </select>
  <!-- 判断是否存在menoNo -->
  <select id="isExistMenuNo" resultType="java.lang.Integer"  parameterType="java.lang.String" >
	    select count(*) from menu where menu_no = #{menu_no,jdbcType=VARCHAR}
  </select>
</mapper>